In [1]:
# Chris Sutton 
# NVDA data

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import normalize
from sklearn.ensemble import RandomForestClassifier

In [3]:

income= pd.read_csv("C:/Users/physi/Desktop/EN.705.603_Creating_AI_EnabledSystems/Mod7/financial/ReNotebook1.csv")
income= income.drop(['shift','name',], axis =1)

In [4]:
income.head()

,TotalRevenue,\tOperatingRevenue,CostOfRevenue,GrossProfit,OperatingExpense,\tSellingGeneralAndAdministration,\tResearchAndDevelopment,OperatingIncome,PretaxIncome,\t\t\tNetIncomeContinuousOperations,quarterly,target
0,71000000,71000000,44200000,26800000,17800000,7300000,8800000,9000000,9400000,6300000,-0.468750,0
1,78000000,78000000,47200000,30800000,21300000,8100000,10800000,9500000,9800000,6700000,0.927083,1
2,97000000,97000000,57600000,39400000,24300000,9300000,12400000,15100000,15600000,10600000,0.598959,1
3,128400000,128400000,76800000,51600000,30800000,12400000,15400000,20800000,21500000,14600000,2.416666,1
4,148483000,148483000,89874000,58609000,33045000,12114000,17830000,25564000,26892000,18287000,3.959636,1

In [5]:
y= income['target']
x= income.loc[:,income.columns!='target']

In [6]:
xnorm = normalize(x)

In [7]:
X_train, X_test, y_train, y_test = train_test_split(xnorm, y, test_size=0.1, random_state=42)

In [8]:
X_train.shape

(79, 11)

In [9]:
y_test.shape

(9,)

In [10]:
X_test.shape

(9, 11)

In [11]:
rf = RandomForestClassifier(n_estimators=100)
rf.fit(X_train,y_train)
ypred= rf.predict(X_test)

In [12]:
rf.score(X_test, y_test)

0.6666666666666666

In [13]:
ypred.shape

(9,)

In [14]:
list(zip(y_train,ypred))

[(1, 1), (1, 1), (0, 1), (1, 1), (0, 0), (1, 1), (0, 0), (1, 0), (0, 1)]