In [1]:
# Chris Sutton 
# NVDA data

In [26]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import normalize, MinMaxScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

In [3]:

income= pd.read_csv("C:/Users/physi/Desktop/EN.705.603_Creating_AI_EnabledSystems/Mod7/financial/ReNotebook1.csv")
income= income.drop(['shift','name',], axis =1)
income2= pd.read_csv("C:/Users/physi/Desktop/EN.705.603_Creating_AI_EnabledSystems/Mod10/GOOGL_quarterly_financials.csv")
income2 =income2.drop(['shift','name',], axis =1)

In [4]:
income.head()

,TotalRevenue,\tOperatingRevenue,CostOfRevenue,GrossProfit,OperatingExpense,\tSellingGeneralAndAdministration,\tResearchAndDevelopment,OperatingIncome,PretaxIncome,\t\t\tNetIncomeContinuousOperations,quarterly,target
0,71000000,71000000,44200000,26800000,17800000,7300000,8800000,9000000,9400000,6300000,-0.468750,0
1,78000000,78000000,47200000,30800000,21300000,8100000,10800000,9500000,9800000,6700000,0.927083,1
2,97000000,97000000,57600000,39400000,24300000,9300000,12400000,15100000,15600000,10600000,0.598959,1
3,128400000,128400000,76800000,51600000,30800000,12400000,15400000,20800000,21500000,14600000,2.416666,1
4,148483000,148483000,89874000,58609000,33045000,12114000,17830000,25564000,26892000,18287000,3.959636,1

In [5]:
#N
y= income['target']
x= income.loc[:,(income.columns!='target') & (income.columns!='quarterly') & (income.columns!='\tOperatingRevenue')]
#googl
y2 = income2['target']
x2 = income2.loc[:,(income2.columns!='target') & (income2.columns!='PriceChange')]

In [6]:
y2.shape

(65,)

In [7]:
x2.shape

(65, 9)

In [8]:
x.head()

,TotalRevenue,CostOfRevenue,GrossProfit,OperatingExpense,\tSellingGeneralAndAdministration,\tResearchAndDevelopment,OperatingIncome,PretaxIncome,\t\t\tNetIncomeContinuousOperations
0,71000000,44200000,26800000,17800000,7300000,8800000,9000000,9400000,6300000
1,78000000,47200000,30800000,21300000,8100000,10800000,9500000,9800000,6700000
2,97000000,57600000,39400000,24300000,9300000,12400000,15100000,15600000,10600000
3,128400000,76800000,51600000,30800000,12400000,15400000,20800000,21500000,14600000
4,148483000,89874000,58609000,33045000,12114000,17830000,25564000,26892000,18287000

In [9]:
x2.head()

,TotalRevenue,CostOfRevenue,GrossProfit,OperatingExpense,SellingGeneralAndAdministration,ResearchAndDevelopment,OperatingIncome,PretaxIncome,NetIncomeContinuousOperations
0,8.058870e+08,362099000.0,443788000.0,432676000.0,174267000.0,57409000.0,11112000.0,14978000.0,51983000.0
1,1.031501e+09,453779000.0,577722000.0,274923000.0,187481000.0,87442000.0,302799000.0,310173000.0,204100000.0
2,1.256516e+09,545208000.0,711308000.0,268538000.0,189126000.0,79412000.0,442770000.0,456456000.0,369193000.0
3,1.384495e+09,597095000.0,787400000.0,311702000.0,215930000.0,95772000.0,475698000.0,495420000.0,342814000.0
4,1.578456e+09,653826000.0,924630000.0,395459000.0,243738000.0,151721000.0,529171000.0,549968000.0,381182000.0

In [10]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88 entries, 0 to 87
Data columns (total 9 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   TotalRevenue                      88 non-null     int64
 1   CostOfRevenue                     88 non-null     int64
 2   GrossProfit                       88 non-null     int64
 3   OperatingExpense                  88 non-null     int64
 4   	SellingGeneralAndAdministration  88 non-null     int64
 5   	ResearchAndDevelopment           88 non-null     int64
 6   OperatingIncome                   88 non-null     int64
 7   PretaxIncome                      88 non-null     int64
 8   			NetIncomeContinuousOperations  88 non-null     int64
dtypes: int64(9)
memory usage: 6.3 KB

In [11]:
x2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 9 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   TotalRevenue                     65 non-null     float64
 1   CostOfRevenue                    65 non-null     float64
 2   GrossProfit                      65 non-null     float64
 3   OperatingExpense                 65 non-null     float64
 4   SellingGeneralAndAdministration  65 non-null     float64
 5   ResearchAndDevelopment           65 non-null     float64
 6   OperatingIncome                  65 non-null     float64
 7   PretaxIncome                     65 non-null     float64
 8   NetIncomeContinuousOperations    65 non-null     float64
dtypes: float64(9)
memory usage: 4.7 KB

In [12]:
## xnorm = normalize(x)
mm1 =MinMaxScaler()
mm2 =MinMaxScaler()

#NVDA
xnorm2 = mm1.fit_transform(x)

#googl
x2norm = mm2.fit_transform(x2)

In [178]:
#NVDA
X_train, X_test, y_train, y_test = train_test_split(xnorm2, y, test_size=0.70)

X2_train, X2_test, y2_train, y2_test = train_test_split(x2norm, y2, test_size=0.60)

In [179]:
rf = RandomForestClassifier()
rf.fit(X_train,y_train)
ypred= rf.predict(X_test)

sv1 = SVC()
sv1.fit(X_train,y_train)
ypredsvc= sv1.predict(X_test)


rf2 =  RandomForestClassifier()
rf2.fit(X2_train,y2_train)
ypred2=rf2.predict(X2_test)

sv2 = SVC()
sv2.fit(X2_train,y2_train)
ypredsvc2= sv1.predict(X2_test)

In [180]:
rf.score(X_test, y_test)

0.6612903225806451

In [181]:
rf2.score(X2_test,y2_test)

0.6153846153846154

In [182]:
sv1.score(X_test, y_test)

0.6451612903225806

In [183]:
sv2.score(X2_test,y2_test)

0.5897435897435898

In [159]:
ypred.shape

(62,)

In [18]:
#NVDA
list(zip(y_test,ypred))

[(1, 1),
 (0, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (0, 1),
 (0, 1),
 (0, 1),
 (1, 1),
 (1, 1),
 (1, 0),
 (0, 1),
 (1, 0),
 (0, 0),
 (1, 1),
 (0, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 0),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (0, 1),
 (0, 1),
 (1, 1),
 (0, 1),
 (1, 1),
 (0, 1),
 (0, 1),
 (1, 1),
 (1, 1),
 (0, 1),
 (1, 1),
 (1, 1),
 (0, 1),
 (0, 0),
 (1, 0),
 (1, 1),
 (1, 0),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 0),
 (1, 1),
 (0, 1),
 (1, 0)]

In [19]:
#GOOGL
list(zip(y2_test,ypred2))

[(1, 0),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 0),
 (0, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (0, 0),
 (1, 0),
 (1, 1),
 (1, 1),
 (1, 0),
 (0, 1),
 (1, 1),
 (0, 1),
 (1, 1),
 (1, 1),
 (0, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (0, 0),
 (0, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (0, 0),
 (1, 0),
 (0, 0),
 (1, 1)]